-
	var womanProducts = [
		{link: "#", image: "w_il1_blue.png", title: "Closk", price: "25 €"}, 
		{link: "#", image: "w_il2_blue.png", title: "Calamär", price: "25 €"},
		{link: "#", image: "w_il3_blue.png", title: "Meddusa", price: "25 €"},
		{link: "#", image: "w_il4_blue.png", title: "Pezz", price: "25 €"},
		{link: "#", image: "w_il5_green.png", title: "Familia", price: "25 €"}
	];

-
	var manProducts = [
		{link: "product_closk.html", image: "m_il1_white.png", title: "Closk", price: "18,5 €"},
		{link: "product_calamar.html", image: "m_il2_white.png", title: "Calamär", price: "16 €"},
		{link: "product_medussa.html", image: "m_il3_white.png", title: "Meddusa", price: "18,5 €"},
		{link: "product_pezz.html", image: "m_il4_white.png", title: "Pezz", price: "18,5 €"}
	];

-
	var childrenProducts = [
		{link: "#", image: "niño.jpg", title: "Closk", price: "25 €"}, 
		{link: "#", image: "niño.jpg", title: "Calamär", price: "25€"},
		{link: "#", image: "niño.jpg", title: "Meddusa", price: "18,5 €"},
		{link: "#", image: "niño.jpg", title: "Pezz", price: "18,5 €"}
	];

-
	var babyProducts = [
		{link: "#", image: "by_il4_grey.jpg", title: "Closk", price: "12 €"}, 
		{link: "#", image: "by_il4_beig.jpg", title: "Calamär", price: "14 €"},
		{link: "#", image: "by_il5_green.jpg", title: "Familia", price: "18,5 €"}
	];