extends template.pug
include libs/mixins.pug
block content
	main
		+crumsListProduct("man", "Hombre", "Pezz")
		
		section.product__detail
			+productDescription("m_pezz.png", "white", "Pezz", "MIL4001", "18,5 €", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.")

	script(src="js/product_detail.js")