extends template.pug
include libs/mixins.pug
block content
	main
		+crumsListProduct("hombre", "Hombre", "Calamär")
		
		section.product__detail
			+productDescription("m_calamar.png", "white", "Calamär", "MIL2001", "16 €", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")

	script(src="js/product_detail.js")